{% extends "layout.html" %}

{% block content %}

    <table class="table mb-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Michael</td>
            <td>Jordan</td>
            <td>@AiR</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Kareem</td>
            <td>Abdul-Jabbar</td>
            <td>@Hook</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Bird</td>
            <td>@Celtics</td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>Magic</td>
            <td>Johnson</td>
            <td>@Lakers</td>
        </tr>


        </tbody>
    </table>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Early NBA
                <small>1960-1970</small>
            </h2>
        </div>
        <div class="panel-body">The early NBA was mostly dominated by 2 players, Bill Russell and Wilt Chamberlain.
            While a handful of players like Jerry West, Elgin Baylor and Oscar Robertson were in their own rights
            amazing players for their era, Bill and Wilt however were miles ahead of them. Wilt Chamberlain dominated
            every single scoring record in the books. Wilt holds 72 NBA records, 68 of them are individual records. Some
            of his most famous records are when he scored 50 points per game for an entire season, averaging 22 rebounds
            per game his entire career and scoring 100 in a single game. To give a sense of how dominant that is, the
            leading scorer for the past 10 years of the NBA have usually averaged 30 points per game wilt surpasses that
            by 20 more points. A player would be considered an elite level rebounder in the modern day game if they
            averaged 8-13rpg in a season, Wilts RPG never dipped below 18. Lastly the closest anyone has gotten to 100
            points is Kobe Bryant with 81. If Wilt is the most dominant player to have played the game, Bill Russell
            would be considered as the greatest champion to have ever played the game. Russell played for the Boston
            Celtics, he played as the captain and the anchor for the Celtics. His leadership and willingness to do what
            was necessary to win paid off, he won 11 straight NBA championships. The players who can come close to that
            achievement are his teammates who he led. Wilt and Russell were in themselves rivals who helped grow and
            influence the future of the NBA.
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Golden Age of the NBA
                <small>1980-2000</small>
            </h2>
        </div>
        <div class="panel-body">

            The golden age of basketball was ignited as soon as Earvin Magic Johnson and Larry Bird entered the league.
            Their rivalry managed to save the struggling NBA at the time. Magic and Bird both were college stars and
            their rivalry bloomed to a national level once they entered the league. Magic a mythical 6’9 Point Guard
            dazzled everyone who watched him with his wizardly passing skills which earned him the name of nickname of
            Magic. He earned 3 league MVPs and led his Lakers to 5 NBA Championships. Larry Bird on the other hand
            helped regain the Celtic greatness that was lost during the 70s. Bird was never the most athletic player in
            the league, but that didn’t stop him from being the cerebral assassin that he was. Bird’s fundamental skills
            and cutthroat mentality made him one of the greatest player to ever play the game. He was one of the most
            clutch players in history, whenever the game was close Bird would deliver, he was also famously known for
            psychologically tearing down defenders through trash talk and his complete dominance of the game. He once
            dropped 47 points only using his left hand, he said that he was “Saving his right hand for the Lakers.” By
            the end of his career, Bird had 3 straight league MVPs and 3 NBA Championships. Bird and Magic dominated the
            80s era long enough to keep the NBA afloat for his airness to arrive.
            The peak of the Golden Age of Basketball came in the 90s. The arrival of Michael Jordan to the NBA was
            unlike anything the league has seen. To simply put Jordan is considered to be the greatest basketball to
            have ever played the game. People were drawn to Jordan because of his exciting play, he soared above
            everyone else with his thunderous dunks and unstoppable turn around jumpshot. He would win 6 championships
            throughout his career going 6 – 0 in the finals. Jordan transformed the game of basketball inside and
            outside of the NBA. He was an international star and It enabled the league to go international in terms of
            its popularity. By the end of his career Jordan is in the upper echelon of sports itself, being considered
            as one of the greatest athletes to have ever lived.

        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Modern Day NBA
                <small>2000-Present</small>
            </h2>
        </div>
        <div class="panel-body">
            The NBA in the modern day takes direct influences from past players who have played the game. Wilt’s
            dominance can never be replicated due to the game’s evolution however a player that can remotely come close
            to him is Shaquille O’Neal. Shaq was a 7 foot 350 pound center who simply bullied his way to score and grab
            rebounds. Shaq was not the stereotypical slow big man, he had elite level footwork and was deceptively quick
            on his feet for someone that big. With his combination of strength and quickness he was a force to be
            reckoned with. Another player who was a staple of the modern game mimicked MJ himself. Kobe Bryant
            practically had the same game was Michael Jordan, exciting above the rim play and an unstoppable turnaround
            jumper. Kobe was the closest thing we would see to a Jordan due to the similarity of how they approached the
            game of basketball. If Kobe was the closest thing we had to a Jordan, Lebron James would be the closest
            thing we would have to Jordan’s greatness. Lebron to many is the only player who can surpass Jordan’s
            greatness. Lebron is an athletic Freak, 6’9 who is basically a Swiss army knife. Lebron can basically do
            everything defend, score, rebound, pass, be a leader, play long minutes etc. Lebron James is the most
            versatile player the game has ever seen and it is why he has the case to be the greatest to have ever played
            the game.
        </div>
    </div>



    <h4>Source <a href=" https://nbahoopsonline.com/History/"> https://nbahoopsonline.com/History/</h4>


{% endblock %}
