{% extends "layout.html" %}

{% block content %}

    <table class="table mb-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Michael</td>
            <td>Jordan</td>
            <td>@AiR</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Kareem</td>
            <td>Abdul-Jabbar</td>
            <td>@Hook</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Bird</td>
            <td>@Celtics</td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>Magic</td>
            <td>Johnson</td>
            <td>@Lakers</td>
        </tr>


        </tbody>
    </table>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Early NBA
                <small>1960-1970</small>
            </h2>
        </div>
        <div class="panel-body">The early NBA was mostly dominated by 2 players, Bill Russell and Wilt Chamberlain.
            While a handful of players like Jerry West, Elgin Baylor and Oscar Robertson were in their own rights
            amazing players for their era, Bill and Wilt however were miles ahead of them. Wilt Chamberlain dominated
            every single scoring record in the books. Wilt holds 72 NBA records, 68 of them are individual records. Some
            of his most famous records are when he scored 50 points per game for an entire season, averaging 22 rebounds
            per game his entire career and scoring 100 in a single game. To give a sense of how dominant that is, the
            leading scorer for the past 10 years of the NBA have usually averaged 30 points per game wilt surpasses that
            by 20 more points. A player would be considered an elite level rebounder in the modern day game if they
            averaged 8-13rpg in a season, Wilts RPG never dipped below 18. Lastly the closest anyone has gotten to 100
            points is Kobe Bryant with 81. If Wilt is the most dominant player to have played the game, Bill Russell
            would be considered as the greatest champion to have ever played the game. Russell played for the Boston
            Celtics, he played as the captain and the anchor for the Celtics. His leadership and willingness to do what
            was necessary to win paid off, he won 11 straight NBA championships. The players who can come close to that
            achievement are his teammates who he led. Wilt and Russell were in themselves rivals who helped grow and
            influence the future of the NBA.
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Golden Age of the NBA
                <small>1980-2000-</small>
            </h2>
        </div>
        <div class="panel-body">
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Modern Day NBA
                <small>2000-Present</small>
            </h2>
        </div>
        <div class="panel-body">
        </div>
    </div>



    <h4>Source <a href=" https://nbahoopsonline.com/History/"> https://nbahoopsonline.com/History/</h4>


{% endblock %}
