{% extends "layout.html" %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Michael</td>
            <td>Jordan</td>
            <td>@AiR</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Kareem</td>
            <td>Abdul-Jabbar</td>
            <td>@Hook</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>Bird</td>
            <td>@Celtics</td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>Magic</td>
            <td>Johnson</td>
            <td>@Lakers</td>
        </tr>


        </tbody>
    </table>


    <h2>Early Basketball <small>Secondary text</small></h2>

    <h2>Golden Age of Basketball <small>Secondary text</small></h2>

    <h2>Modern Day Basketball <small>BlahBlahBlAH</small></h2>

    <h4>Source <small>Secondary text</small>https://nbahoopsonline.com/History/</h4>


{% endblock %}
